@import url('/home/mrmalinka/.cache/wal/colors-waybar.css');

* {
	font-size: 19px;
	font-family: "0xProto Nerd Font Propo";
}

window#waybar {
	all:unset;
}

#power-container,
#media-player,
.module {
	all:unset;

	background: alpha(@background, 0.6);
	color: @color7;

	margin: 8px 5px 0px;
	padding: 7px 15px;

	border: solid 2px alpha(@color11, 0.2);
	border-radius: 10px;

	transition: all 0.1s ease-in-out;
}
#workspaces button:hover,
.module:hover:not(#workspaces) {
	background-color: alpha(@background, 0.95);
	color: @color15;
}

#custom-sleep,
#custom-lock,
#custom-shutdown,
#custom-play-button, 
#custom-next-track,
#custom-previous-track,
#custom-progress-bar {
	all:unset;
	padding: 4px 10px;
	border-radius: 10px;

	transition: all 0.1s ease-in-out;
}

#workspaces button {
	all:unset;
	
	border-radius: 10px;
	padding: 0px 8px;
	color: alpha(@background, 0.8);

	transition: all 0.1s ease-in-out;
}
#workspaces button.active {
	color: alpha(@color6, 0.75);
}
