@import url('/home/mrmalinka/.cache/wal/colors-waybar.css');
/* the waybar colors can actually be used in any css file lol */

@define-color text @color7;
@define-color border @color6;
@define-color bg-highlight @color9;
@define-color text-highlight @color3;

* {
    font-family: '0xProto Nerd Font Propo';
    font-size: 16px;
    outline: none;
    border: none;
    text-shadow: none;
    background-color: transparent;
}

window {
    all: unset;
    padding: 20px;
    border-radius: 10px;

    background-color: alpha(@background, 0.7);
}

#inner-box {
    margin: 2px;
    padding: 5px;
}

#outer-box {    
    border-radius: 10px;
}

#scroll {
    margin: 0px;
    padding: 30px;
    border: none;
}

#input {
    all:unset;

    margin-left:20px;
    margin-right:20px;
    margin-top:20px;

    padding: 20px;

    border-radius: 10px;
    background: @background;
    color: @text;
}

#text {
    margin: 5px;
    border: none;
    color: @text;
    outline: none;
}

#entry {
    border: none;
    border-radius: 10px;

    margin: 2px;
    
    transition: all 0.1s ease-in-out;
}
#entry:selected {
    background: @background;
}
#entry:selected #text {
    color: @text-highlight;
}
